table.grid-select td,
table.grid-select th {
    padding: 10px 12px;
}
table.grid-select input.column-select,
table.grid-select input.row-select,
table.grid-select input.cell-select {
    z-index: 10;
}
table.grid-select label.custom-checkbox:hover {
    cursor: pointer;
}
@media (max-width: 992px) {
    table.grid-select thead th label {
        display: inline-block;
        font-size: 0;
    }
    table.grid-select thead th label::first-letter {
        font-size: 1rem;
    }
}
