table.grid-select input.column-select,
table.grid-select input.row-select,
table.grid-select input.cell-select {
    z-index: 10;
}

table.grid-select td {
    background-color: #fff;
    padding: 10px 12px;
    border: 1px solid #ececec;
}
table.grid-select .grid-legend {
    background-color: #393e44;
    color: #fff;
    font-weight: bold;
    border-color: #717171;
}
